<h2>Sign up</h2>
<%= form_for(@user, url: v1_user_registration_path) do |f| %>
  <div class="field">
    <%= f.label :First_Name %><br />
    <%= f.text_field :first_name %>
  </div>
  
  <div class="field">
    <%= f.label :Last_Name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.fields_for :images, Image.new do |image_field| %>
      <%= image_field.label :Upload_Image %>
      <%= image_field.file_field :name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
